<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
  </head>
  <body>
    <header>
      <% include ./partials/header %>
    </header>
    <h1 class='center'>Create a Note- Organize Your Life!</h1>
    <hr />
    <div class='row'>
      <div class='col s12 m3'>
        <h3>Compose Note</h3>
        <hr />
        <form action='/posts' method='post'>
          <input type='text' name='title' placeholder='Title' />
          <input type='text' name='content' placeholder='Content' required />
          <p>
              <input checked='true' name='color' value='note-purple' type='radio' id='purple' />
              <label for='purple'>Purple</label>
          </p>
          <p>
            <input name='color' value='note-blue' type='radio' id='blue' />
            <label for='blue'>Blue</label>
          </p>
          <p>
            <input class='with-gap' name='color' value='note-green' type='radio' id='green'  />
            <label for='green'>Green</label>
          </p>
          <p>
            <input name='color' value='note-red' type='radio' id='red' />
            <label for='red'>Red</label>
          </p>
          <button class='btn btn-waves' type='submit'>Add Note</button>
        </form>
        <div>
          <% posts.forEach(function(post) { %>
            <% action ='/posts/' + post.id %>
            <div data-post-id=<%= post.id %> class=<%= post.color%>>
              <form action=<%= action %> method='POST'>
                  <button class='delete right' type='submit'>X</button>
              </form>
              <p class='center'><%= post.title %></a></p>
              <p class='center'><%= post.content %></p>
            </div>
          <% }); %>
        </div>
      </div>
      <div class='corkboard col m9 s12'>
        <span></span>
      </div>
      <script type="text/javascript">
  
       
      $( init );
       
      function init() {
        $('.note-blue, .note-purple, .note-red, .note-green').draggable({ cursor: 'move', revert: 'invalid' });
        $('.corkboard').droppable({
          drop: function(event, ui) {
            console.log(ui.position);
            var postId = $(event.srcElement).data('post-id');
            console.log(postId);
            // make ajax call to your post that edits a card
            // that ajax call will pass note location
            // update route(posts.js) will update note and return true || false
            $.ajax({
              type: 'POST',
              url: '/some_url',
              data: {postId: postId},
              success: function(data) {
                console.log(data);
              },
              error: function(data) {
                console.log(data);
              }
            });

          }
        });

        
      }
       
      </script>
  </body>
</html>